<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="undefined/css/cosmo.min.css">
  <link rel="stylesheet" href="undefined/css/style.css">
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>


  <script type="text/javascript" src="undefined/js/Frameworks.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-4"><h1>PacktChat</h1></div>
      <div class="col-sm-4 col-sm-offset-4 top-margin">
        <div class="pull-right">
          <% if (isAuthenticated) { %>
            <%- partial('partials/user-loggedin') %>
          <% } else { %>
            <%- partial('partials/user-loggedout') %>
          <% } %>
        </div>
      </div>
    </div>
    <div class="row">
    <%- body %>
    </div>
  </div>
  <div class="container">
    <small>Commit: undefined</small>
  </div>
</body>
</html>